@model HBM.Web.ViewModels.UserShowViewModel
@using Microsoft.AspNet.Identity
@{
    ViewBag.Title = "Show";
    int userId = int.Parse(User.Identity?.GetUserId() ?? "-1");
}

@if (userId == Model.Id)
{
    <div class="dimm-overlay-1" id="dimm-overlay">
        <div class="btn btn-default dimm-close-button" onclick="closeDimmOverlay()">X</div>
        @using (Html.BeginForm("SetAvatar", "User", new { id = Model.Id }, FormMethod.Post, new { @class = "container", enctype = "multipart /form-data" }))
        {
            @Html.AntiForgeryToken()

            <div class="form-group field-imageupload-image required">
                <img id="aImgShow" src="" class="img-preview post-thumb" />
                <input type="hidden" name="ImageUpload[image]" value="">
                <input type="file" name="ImageFile" class="form-control" />
                <input type="file" id="imageupload-image" name="ImageUpLoad[image]" aria-required="true" onchange="uploadImage(this)" data-target="#aImgShow">
                <div class="help-block"></div>
            </div>
            <div class="form-group">
                <button type="submit" class="btn btn-success">Save</button>
            </div>
        }
    </div>
}
<div class="container">
    <h5>[@Model.Role]</h5>
    <div class='row' style='margin-bottom:100px'>
        <div class='col-md-4'>
            <div class='post'>
                <div class="post-thumb">
                    @{
                        var img = Model.Avatar ?? "~/Content/img/no-image.png";
                        img = Url.Content(img);
                        <img class="img-preview" src="@img" alt="">
                    }
                    @if (userId == Model.Id)
                    {
                        <a onclick="openDimmOverlay()" href="#" class="post-thumb-overlay text-center">
                            <div class="text-uppercase text-center">Set image</div>
                        </a>
                    }
                </div>
                <div class="post-content">
                    @if (userId == Model.Id)
                    {
                        <div class="btn-continue-reading text-center text-uppercase">
                            @Html.ActionLink("Update info", "Update", new { id = Model.Id }, new { @class = "more-link" })
                        </div>
                        <div style='height:50px'></div>
                    }
                    <div class="text-center text-uppercase pull-center">
                        <div class='tooltip'>
                            @Model.Rating
                            <i class='fa fa-star'></i>
                            <span class="tooltiptext">Rating</span>
                        </div>
                        <div class='tooltip'>
                            @Model.Articles
                            <i class='fa fa-coffee'></i>
                            <span class="tooltiptext">Articles posted</span>
                        </div>
                        <div class='tooltip'>
                            @Model.Comments
                            <i class='fa fa-comment'></i>
                            <span class="tooltiptext">Comments written</span>
                        </div>
                        <div class='tooltip'>
                            @Model.Banned
                            <i class='fa fa-lock'></i>
                            <span class="tooltiptext">Times banned</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class='col-md-8 user-info-panel'>
            <div class="social-share" style='background:rgb(42, 46, 84); color:white'>
                <h3 class='widget-title text-center'>
                    @Model.UserName
                </h3>
            </div>
            <p class='comment-date' style="border-bottom: black dotted 1px">
                <i class='fa fa-envelope'></i> @Model.Email
            </p>
            <p class='pull-left'>
                <i class='fa fa-comment'></i> 
                @{
                    var about = Model.About ?? "...";
                    <span>@about</span>
                }
            </p>
        </div>
    </div>
</div>

@section Scripts
{
    <script type="text/javascript" src="~/Scripts/image_preview.js"></script>
}