@model HBM.Web.ViewModels.UserShowViewModel
@using Microsoft.AspNet.Identity
@{
    ViewBag.Title = "Show";
    int userId = int.Parse(User.Identity?.GetUserId() ?? "-1");
}

<div class="container">
    <h5>[@Model.Role]</h5>
    <div class='row' style='margin-bottom:100px'>
        <div class='col-md-4'>
            <div class='post'>
                <div class="post-thumb">
                    @{
                        var img = Model.Avatar ?? "~/Content/img/no-image.png";
                        img = Url.Content(img);
                        <img class="img-preview" src="@img" alt="">
                    }                    
                </div>
                <div class="post-content">
                    @if (userId == Model.Id)
                    {
                        <div class="btn-continue-reading text-center text-uppercase">
                            @Html.ActionLink("Update info", "Edit", null, new { @class = "more-link" })
                        </div>
                        <div style='height:50px'></div>
                    }
                    <div class="text-center text-uppercase pull-center">
                        <div class='tooltip'>
                            @Model.Rating
                            <i class='fa fa-star'></i>
                            <span class="tooltiptext">Rating</span>
                        </div>
                        <div class='tooltip'>
                            @Model.Articles
                            <i class='fa fa-coffee'></i>
                            <span class="tooltiptext">Articles posted</span>
                        </div>
                        <div class='tooltip'>
                            @Model.Comments
                            <i class='fa fa-comment'></i>
                            <span class="tooltiptext">Comments written</span>
                        </div>
                        <div class='tooltip'>
                            @Model.Banned
                            <i class='fa fa-lock'></i>
                            <span class="tooltiptext">Times banned</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class='col-md-8 user-info-panel'>
            <div class="social-share p-1" style='background:rgb(42, 46, 84); color:white'>
                <h3 class='widget-title text-center'>
                    @if (Model.FullName != null)
                    {
                        <span>@Model.FullName&ensp;-&ensp;</span>
                    }
                    @Model.UserName
                </h3>
            </div>
            <p class='comment-date' style="border-bottom: black dotted 1px">
                <i class='fa fa-envelope'></i> @Model.Email
            </p>
            <p class='pull-left'>
                <i class='fa fa-comment'></i> 
                @{
                    var about = Model.About ?? "...";
                    <span>@about</span>
                }
            </p>
        </div>
    </div>
</div>