<nav class="navbar navbar-expand-sm navbar-dark bg-dark fixed-top">
    <div class="container">
        <button class="navbar-toggler navbar-toggler-icon" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation"></button>
        @Html.ActionLink("HBM", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })
        <div id="navbarSupportedContent" class="navbar-collapse collapse">
            <ul class="nav navbar-nav mr-auto">
                <li class="nav-item">@Html.ActionLink("Index", "Index", "Manage", null, new { @class = "nav-link" })</li>
                <li class="nav-item">@Html.ActionLink("Articles", "Articles", "Manage", null, new { @class = "nav-link" })</li>
                <li class="nav-item">@Html.ActionLink("Tags", "Tags", "Manage", null, new { @class = "nav-link" })</li>
                <li class="nav-item">@Html.ActionLink("Users", "Users", "Manage", null, new { @class = "nav-link" })</li>
                <li class="nav-item">@Html.ActionLink("Roles", "Roles", "Manage", null, new { @class = "nav-link" })</li>
                <li class="nav-item">@Html.ActionLink("Permissions", "Permissions", "Manage", null, new { @class = "nav-link" })</li>
            </ul>
        </div>
    </div>
</nav>