@model HBM.Web.ViewModels.ArticleCreateViewModel
@{
    ViewBag.Title = "Create article";
}

<div class="">
    @using (Html.BeginForm("Create", "Article", new { ReturnUrl = ViewBag.ReturnUrl }, FormMethod.Post, new { @class = "form-horizontal", id = "createForm", role = "form", enctype="multipart/form-data" }))
    {
        @Html.AntiForgeryToken()
        @Html.ValidationSummary(true)
        <h4 class="h3 mb-3 font-weight-normal">New article</h4>
        <hr />

        @Html.LabelFor(m => m.ImageFile, "Image")
        <div>
            <input type="file" name="ImageFile" class="form-control"/>
            @Html.ValidationMessageFor(m => m.ImageFile, "", new { @class = "text-danger" })
        </div>

        @Html.LabelFor(m => m.Header)
        <div>
            @Html.TextBoxFor(m => m.Header, new { @class = "form-control", placeholder = "Specify a title" })
            @Html.ValidationMessageFor(m => m.Header, "", new { @class = "text-danger" })
        </div>

        @Html.LabelFor(m => m.Description)
        <div>
            @Html.TextAreaFor(m => m.Description, new { @class = "form-control", cols = 80, rows = 3, placeholder = "Write a brief description of the article" })
            @Html.ValidationMessageFor(m => m.Description, "", new { @class = "text-danger" })
        </div>

        @Html.LabelFor(m => m.Content)
        <div>
            @Html.EditorFor(m => m.Content, new { @class = "form-control", cols = 80, rows = 8, style = "max-width:none" })
            @Html.ValidationMessageFor(m => m.Content, "", new { @class = "text-danger" })
        </div>

        @Html.LabelFor(m => m.Tags)
        <div>
            @Html.TextBoxFor(m => m.Tags, new { @class = "form-control" })
            @Html.ValidationMessageFor(m => m.Tags, "", new { @class = "text-danger" })
        </div>

        <div class="form-group">
            <div class="mt-4 col-md-10">
                <input type="submit" value="Submit" class="btn btn-primary btn-block" />
            </div>
        </div>
    }
</div>