@model HBM.Web.ViewModels.ArticleEditViewModel
@{
    ViewBag.Title = "Edit";
}

<div class="">

    @using (Html.BeginForm("Edit", "Article", new { ReturnUrl = ViewBag.ReturnUrl }, FormMethod.Post, new { @class = "form-horizontal", id = "createForm", role = "form" }))
    {
        @Html.AntiForgeryToken()
        @Html.ValidationSummary(true)
        @Html.HiddenFor(m => m.Id)
        <h4 class="h3 mb-3 font-weight-normal">Edit article</h4>
        <hr />
        <div class="text-right">
            @Html.ActionLink("Delete", "Delete", "Article", new { id = Model.Id }, new { @class = "btn btn-outline-dark" })
        </div>

        @Html.LabelFor(m => m.Header)
        <div>
            @Html.TextBoxFor(m => m.Header, new { @class = "form-control", placeholder = "Edit a title" })
            @Html.ValidationMessageFor(m => m.Header, "", new { @class = "text-danger" })
        </div>

        @Html.LabelFor(m => m.Description)
        <div>
            @Html.TextAreaFor(m => m.Description, new { @class = "form-control", cols = 80, rows = 3, placeholder = "Edit the description of the article" })
            @Html.ValidationMessageFor(m => m.Description, "", new { @class = "text-danger" })
        </div>

        @Html.LabelFor(m => m.Content)
        <div>
            @Html.EditorFor(m => m.Content, new { @class = "form-control", cols = 80, rows = 8, style = "max-width:none" })
            @Html.ValidationMessageFor(m => m.Content, "", new { @class = "text-danger" })
        </div>

        @Html.LabelFor(m => m.Tags)
        <div>
            @Html.TextBoxFor(m => m.Tags, new { @class = "form-control" })
            @Html.ValidationMessageFor(m => m.Tags, "", new { @class = "text-danger" })
        </div>

        <div class="form-group">
            <div class="mt-4 col-md-10">
                <input type="submit" value="Submit" class="btn btn-primary btn-block" />
            </div>
        </div>
    }
</div>